{% load static %}
<footer id="footer">
  <div class="inner">
    <section>
      <h2>Contatos</h2>
      <form method="post" action="#">
        <div class="fields">
          <div class="field half">
            <input type="text" name="name" id="name" placeholder="Name" />
          </div>
          <div class="field half">
            <input type="email" name="email" id="email" placeholder="Email" />
          </div>
          <div class="field">
            <textarea name="message" id="message" placeholder="Message"></textarea>
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Enviar" class="primary" /></li>
        </ul>
      </form>
    </section>
    <section>
      <h2>Deixe seu feedback</h2>
      <ul class="icons">
        <li>
        </li>
        <li>
          <article class="style16">
            <span class="image">
              <img src="{%static 'images/pic16.jpeg'%}" alt="">
            </span>
          </article>
        </li>
      </ul>
    </section>
    <ul class="copyright">
      <li>&copy; Untitled. All rights reserved</li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</footer>