{%extends 'template.html'%}
{% load static %}

{%block 'conteudo'%}
<div id="main">
    <div class="inner">
        <h1>
            {% if i == 1 %}
                zorzal
              {% elif i == 2 %}
                Zepaltas
              {% elif i == 3 %}
                Yuntero
              {% elif i == 4 %}
                Secret Barrels
              {% elif i == 5 %}
                Weninger
              {% elif i == 6 %}
                Vite Colte
              {% elif i == 7 %}
                Thomas George
              {% elif i == 8 %}
                The Calling
              {% elif i == 9 %}
                Terras de Alter
              {% elif i == 10 %}
                Tarara
              {% elif i == 11 %}
                Stoller
              {% elif i == 12 %}
                Saviah
              {% endif %}
        </h1>
        <span class="image main"><img src="/static/images/pic{{i}}.jpeg" alt=""/></span>
        <p>
             {% if i == 1 %}
                zorzal
              {% elif i == 2 %}
                Zepaltas
              {% elif i == 3 %}
                Yuntero
              {% elif i == 4 %}
                Secret Barrels
              {% elif i == 5 %}
                Weninger
              {% elif i == 6 %}
                Vite Colte
              {% elif i == 7 %}
                Thomas George
              {% elif i == 8 %}  
                The Calling
              {% elif i == 9 %}
                Terras de Alter
              {% elif i == 10 %}
                Tarara
              {% elif i == 11 %}
                Stoller
              {% elif i == 12 %}
                Saviah
              {% endif %}
        </p>
        <p>
            <img src="{%static 'images/grafico.png'%}">
        </p>
        <p></p>
    </div>
</div>
{%endblock%}