{%extends 'template.html'%}
{% load static %}

{%block 'conteudo'%}
<div id="main">
    <div class="inner" style="display: block; box-sizing: border-box">
        <h1>
            {% if i == 1 %}
                zorzal
              {% elif i == 2 %}
                Zepaltas
              {% elif i == 3 %}
                Yuntero
              {% elif i == 4 %}
                Secret Barrels
              {% elif i == 5 %}
                Weninger
              {% elif i == 6 %}
                Vite Colte
              {% elif i == 7 %}
                Thomas George
              {% elif i == 8 %}
                The Calling
              {% elif i == 9 %}
                Terras de Alter
              {% elif i == 10 %}
                Tarara
              {% elif i == 11 %}
                Stoller
              {% elif i == 12 %}
                Saviah
              {% endif %}
            <ul style="text-decoration: None; padding-left: 720px">
            <li>
                Descrição:{{description}}
            </li>
        </ul>
        </h1>
        <span class="image main" style="align-items: center; margin-bottom: 32px">
            <img src="/static/images/pic{{i}}.jpeg"  style='margin-right: 4px; border: 0;
            overflow-clip-margin: content-box; overflow: clip; max-width: 355px' alt=""/>
        </span>
        <p>
             {% if i == 1 %}
                zorzal
              {% elif i == 2 %}
                Zepaltas
              {% elif i == 3 %}
                Yuntero
              {% elif i == 4 %}
                Secret Barrels
              {% elif i == 5 %}
                Weninger
              {% elif i == 6 %}
                Vite Colte
              {% elif i == 7 %}
                Thomas George
              {% elif i == 8 %}  
                The Calling
              {% elif i == 9 %}
                Terras de Alter
              {% elif i == 10 %}
                Tarara
              {% elif i == 11 %}
                Stoller
              {% elif i == 12 %}
                Saviah
              {% endif %}
        </p>
        <p>
            <div class="Graphics">
                <img style='width: 700px'src="{%static 'images/grafico.png'%}">
            </div>
        </p>
        <p></p>
    </div>
</div>
{%endblock%}