{%extends 'template.html'%}
{%load static%}
{%block 'conteudo'%}
<div id="main">
    <div class="inner">
        <h1>
            {% if i == 1 %}
                zorzal
              {% elif i == 2 %}
                Zepaltas
              {% elif i == 3 %}
                Yuntero
              {% elif i == 4 %}
                Secret Barrels
              {% elif i == 5 %}
                Aliquam
              {% elif i == 6 %}
                Veroeros
              {% elif i == 7 %}
                Ipsum
              {% elif i == 8 %}
                Dolor
              {% elif i == 9 %}
                Nullam
              {% elif i == 10 %}
                Ultricies
              {% elif i == 11 %}
                Dictum
              {% elif i == 12 %}
                Pretium
              {% endif %}
        </h1>
        <span class="image main"><img src="/static/images/pic{{i}}.jpeg" alt=""/></span>
        <p>
             {% if i == 1 %}
                zorzal
              {% elif i == 2 %}
                Zepaltas
              {% elif i == 3 %}
                Yuntero
              {% elif i == 4 %}
                Secret Barrels
              {% elif i == 5 %}
                Aliquam
              {% elif i == 6 %}
                Veroeros
              {% elif i == 7 %}
                Ipsum
              {% elif i == 8 %}
                Dolor
              {% elif i == 9 %}
                Nullam
              {% elif i == 10 %}
                Ultricies
              {% elif i == 11 %}
                Dictum
              {% elif i == 12 %}
                Pretium
              {% endif %}
        </p>
        <p>
            <img src="{%static 'images/grafico.png'%}">
        </p>
        <p></p>
    </div>
</div>
{%endblock%}